
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EvolveCyber</title>
    <link rel="shortcut icon" href="https://www.evolvecyber.com/assets/images/favicon.ico" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
     <link href="/static/new_style.css" rel="stylesheet">
     <link rel="shortcut icon" href="https://www.evolvecyber.com/assets/images/favicon.ico" />
     <link rel="stylesheet" href="/static/dashboard/top.css" type="text/css">
     <link rel="stylesheet" href="/static/dashboard/scrol-servers.css" type="text/css">
     <link rel="stylesheet" href="/static/dashboard/table.css" type="text/css">
     <link rel="stylesheet" href="/static/dashboard/footler.css" type="text/css">
     <link rel="stylesheet" href="/static/dashboard/menu.css" type="text/css">

     <meta name="viewport" content="width=device-width, initial-scale=1">
     <div class="topnav">
       <a class="active" href="{{ url_for('login') }}">Login</a>
     </div>
     <center>
       <br>
       <h1> Welcome to New Class </h1>
       <br>
       <br>
       </center>
  </head>



<body>



      <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-4">
   <div class="blog-block text-center">
   	  <div class="blog-info">
   	  	<div class="blog-meta">
   	  		<h4><b>English Class</b></h4>
            <p>(Ongoing)</p>
   	  	</div>
   	  	<div class="blog-content">
   	  		<h5><b> November Cohort</b></h5>
   	  		<p>November 5th - March 15th</p>
            <h5><b> Projects</b></h5>
   	  		<p>April 1st - April 15th</p>
   	  		<div class="blog-bottom clearfix">
   	  		 <div class="button-small">
   	  			<a href="{{ url_for('signup') }}">Apply</a>
   	  			</div>
   	  	 </div>
   	  	</div>
   	  </div>
   </div>
  </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
   <div class="blog-block text-center">
   	  <div class="blog-info">
   	  	<div class="blog-meta">
   	  		<h4><b>Russion Class</b></h4>
            <p>(Accepting Applications)</p>
   	  	</div>
   	  	<div class="blog-content">
   	  		<h5><b> January Cohort</b></h5>
   	  		<p>January 14th - May 26th</p>
            <h5><b> Projects</b></h5>
   	  		<p>June 10th - June 27th</p>
   	  		<div class="blog-bottom clearfix">
   	  		 <div class="button-small">
   	  			<a href="{{ url_for('signup') }}">Apply</a>

   	  			</div>
   	  	 </div>
   	  	</div>
   	  </div>
   </div>
  </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
   <div class="blog-block text-center">
   	  <div class="blog-info">
   	  	<div class="blog-meta">
   	  		<h4><b>Uzbek Class</b></h4>
            <p>(Accepting Applications)</p>
   	  	</div>
   	  	<div class="blog-content">
   	  		<h5><b> April Cohort</b></h5>
   	  		<p>April 7th - September 4th</p>
            <h5><b> Projects</b></h5>
   	  		<p>September 17th - October 3rd</p>
   	  		<div class="blog-bottom clearfix">
   	  		 <div class="button-small">
   	  			<a href="{{ url_for('signup') }}">Apply</a>
   	  			</div>
   	  	 </div>
   	  	</div>
   	  </div>
   </div>
  </div>



 </div>

      <footer class="footer">
        <p>&copy; Evolve Cyber 2018</p>
      </footer>

    </div>
  </body>
</html>
