table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


.footer {
    padding-top: 19px;
    color: #777;c
    border-top: 1px solid #e5e5e5;
}
