
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EvolveCyber</title>
    <link rel="shortcut icon" href="https://www.evolvecyber.com/assets/images/favicon.ico" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
     <link href="static/new_style.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/animation/animation.css">
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <div class="topnav">
              <a class="btn btn-lg btn-success" href="login">Sign in</a>
            </div>
          </ul>
        </nav>

      </div>
              <h3 class="text-muted">DC Project Check</h3>

      <div class="jumbotron">
        <h1 class="animated jackInTheBox">DC Project Check</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="signup" role="button">Sign up today</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Repository Server</h4>
          <p>Please make sure the following packages are installed: telnet, bind-utils, nfs-utils, net-tools</p>

          <h4>DNS Master</h4>
          <p>Please make sure the following packages are installed: telnet, bind-utils, nfs-utils, net-tools.</p>

          <h4>DNS Slave</h4>
          <p>Please make sure the following packages are installed: telnet, bind-utils, nfs-utils, net-tools.</p>
        </div>

        <div class="col-lg-6">
          <h4>NFS Server</h4>
          <p>Please make sure the following packages are installed: telnet, bind-utils, nfs-utils, net-tools.</p>

          <h4>Mail Server</h4>
          <p>Please make sure the following packages are installed: telnet, bind-utils, nfs-utils, net-tools.</p>

          <h4>Ansible</h4>
          <p>Please make sure the following packages are installed: telnet, bind-utils, nfs-utils, net-tools.</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; Evolve Cyber 2018</p>
      </footer>

    </div>
  </body>
</html>
